<a href="/alerts" class="list-group-item list-group-item-action">
    <div class="row align-items-center">
        <div class="col ml--2">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4 class="mb-0 text-sm"> {{ alert.source_ip }} </h4>
            </div>
            <div class="text-right text-muted">
                <small> {{ alert.description }} </small>
            </div>
        </div>
        <p class="text-sm mb-0"> {{ alert.timestamp }} </p>
        </div>
    </div>
</a>

